extends layout

block content
  h1= title

  h2 Enter your Slack credentials

  a(href="/bots") See all bots
  a(href="/users") See all users

  h2 Test
  a(href="/testrun") RUN
  a(href="/teststop") STOP