doctype html
html(ng-app="hubotApp")
  head
    meta(charset='utf8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/client.js')
  body
    block content