extends layout

block content
  h1 Sit tight, your bot is being created

  p Review your details
  ul
    each param, key in data
      li(style="list-style: none;") #{key}: #{param}

  div.feedback
    p#status In progress

  script.
    function makeRequest () {
      var xhr = new XMLHttpRequest();
      xhr.responseType = 'json';
      xhr.timeout = 1000;
      xhr.onload = function (){
        if (this.response.running) console.log('success');
        else setTimeout(makeRequest, 2000);
      }
      xhr.ontimeout = function(){
        console.log('timeout');
      }
      xhr.open('GET', '/botrunning', true);
      xhr.send();
    }

    document.addEventListener('DOMContentLoaded', function () {
      makeRequest();
    });
