body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bots-new .config {
  /**
   * Hide all config templates until one is selected
   */
  display: none;
}

.is-displayed {
  display: initial !important;
}