extends ../layout

block content
  if error
    p= error

  h1 All my Bots
  a(href="/#{userid}/bots/new") Create new bot

  if bots && bots.length > 0
    ul
      each bot in bots
        li
          a(href="/#{userid}/bots/#{bot.id}")= bot.name
  else
    p You don't have any bot yet