fieldset.config.irc
  legend Adapter configuration
  label(for="config[HUBOT_IRC_TOKEN]") HUBOT_IRC_TOKEN
  input(type="text", name="config[HUBOT_IRC_TOKEN]", required)

  label(for="config[HUBOT_IRC_TEAM]") HUBOT_IRC_TEAM
  input(type="text", name="config[HUBOT_IRC_TEAM]", required)