fieldset.config.hipchat
  legend Adapter configuration
  label(for="config[HUBOT_HIPCHAT_TOKEN]") HUBOT_HIPCHAT_TOKEN
  input(type="text", name="config[HUBOT_HIPCHAT_TOKEN]", required)

  label(for="config[HUBOT_HIPCHAT_TEAM]") HUBOT_HIPCHAT_TEAM
  input(type="text", name="config[HUBOT_HIPCHAT_TEAM]", required)